<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>ZenBlog Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='img/favicon.png' ) }}" rel="icon">
  <link href="{{ url_for('static', filename='img/apple-touch-icon.png' ) }}" rel="apple-touch-icon">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css' ) }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css' ) }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css' ) }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css' ) }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/aos/aos.css' ) }}" rel="stylesheet">

  <!-- Template Main CSS Files -->
  <link href="{{ url_for('static', filename='css/variables.css' ) }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/main.css' ) }}" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="{{ url_for('static', filename='img/logo.png' ) }}" alt=""> -->
        <h1>ZenBlog</h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li class="dropdown"><a href="#"><span>Categories</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="/category?type=Sports">Sports</a></li>
              <li><a href="/category?type=Politics">Politics</a></li>
              <li><a href="/category?type=Business">Business</a></li>
              <li><a href="/category?type=Fashion">Fashion</a></li>
            </ul>
          </li>

          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->

      <div class="position-relative">
        <a href="#" class="mx-2"><span class="bi-facebook"></span></a>
        <a href="#" class="mx-2"><span class="bi-twitter"></span></a>
        <a href="#" class="mx-2"><span class="bi-instagram"></span></a>

        <a href="#" class="mx-2 js-search-open"><span class="bi-search"></span></a>
        <i class="bi bi-list mobile-nav-toggle"></i>

        <!-- ======= Search Form ======= -->
        <div class="search-form-wrap js-search-form-wrap">
          <form action="search-result.html" class="search-form">
            <span class="icon bi-search"></span>
            <input type="text" placeholder="Search" class="form-control">
            <button class="btn js-search-close"><span class="bi-x"></span></button>
          </form>
        </div><!-- End Search Form -->

      </div>

    </div>

  </header><!-- End Header -->

  <main id="main">

    <section class="single-post-content">
      <div class="container">
        <div class="row">
          <div class="col-md-9 post-content" data-aos="fade-up">

            <!-- ======= Single Post Content ======= -->
            <div class="single-post">
              <div class="post-meta"><span class="date">{{ post[2] }}</span> <span class="mx-1">&bullet;</span> <span>{{ post.postDate }}</span></div>
              <h1 class="mb-5">{{ post[1] }}</h1>
              <p>{{ post[3] }}</p>

              <figure class="my-4">
                <img src="{{ url_for('static', filename='uploads/' + post[4]) }}" alt="" class="img-fluid" width="90%" height="400px">

              </figure>
              
            </div><!-- End Single Post Content -->

            

          </div>

          {% include 'basic/partials/sideView.html' %}
          
        </div>
      </div>
    </section>
  </main><!-- End #main -->


  
{% include 'basic/partials/footer.html' %}