<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>ZenBlog - dashboard</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{{ url_for('static', filename='img/favicon.png' ) }}" rel="icon">
    <link href="{{ url_for('static', filename='img/apple-touch-icon.png' ) }}" rel="apple-touch-icon">

    <!-- Vendor CSS Files -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css' ) }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css' ) }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css' ) }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css' ) }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/aos/aos.css' ) }}" rel="stylesheet">

    <!-- Template Main CSS Files -->
    <link href="{{ url_for('static', filename='css/variables.css' ) }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css' ) }}" rel="stylesheet">
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <a href="/auth/dashboard" class="logo d-flex align-items-center">
                <h1>ZenBlog</h1>
            </a>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a href="/auth/dashboard">Home</a></li>

                    <li><a href="/auth/viewpost">View Post</a></li>
                    <li><a href="/auth/viewcontact">View Contact</a></li>
                    <li><a href="/auth/logout">Logout</a></li>
                </ul>
            </nav><!-- .navbar -->

        </div>

    </header><!-- End Header -->

    <main id="main">
        <!-- data-aos="fade-up" -->
        <section>
            <div class="container">
                <div class="row">
                    <p>view uploaded post below</p>
                </div>
                <div class="row mt-4">
                    <div class="col-12 mb-5">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover">
                                <tr>
                                    <th>TITLE</th>
                                    <th>CATEGORY</th>
                                    <th>BLOG DATE</th>
                                    <th>POPULAR</th>
                                    <th>ACTION</th>
                                </tr>
                                {% if posts %}
                                    {% for post in posts %}
                                    <tr>
                                        <td>{{ post.title }}</td>
                                        <td>{{ post.category }}</td>
                                        <td>{{ post.postDate }}</td>
                                        <td>
                                            <input disabled type="checkbox" {% if post.popular == 0 %}checked{% endif %}>
                                        </td>
                                        <td>
                                            <a class="btn btn-primary" href="/auth/editpost/{{ post.id }}">edit post</a>
                                            <a class="btn btn-danger" href="/auth/deletepost/{{ post.id }}">delete</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td>no post yet....</td>
                                    </tr>
                                {% endif %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main><!-- End #main -->


    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js' ) }}"></script>
    <script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js' ) }}"></script>
    <script src="{{ url_for('static', filename='vendor/glightbox/js/glightbox.min.js' ) }}"></script>
    <script src="{{ url_for('static', filename='vendor/aos/aos.js' ) }}"></script>
    <script src="{{ url_for('static', filename='vendor/php-email-form/validate.js' ) }}"></script>

    <!-- Template Main JS File -->
    <script src="{{ url_for('static', filename='js/main.js' ) }}"></script>

</body>

</html>