<div class="col-md-3">
    <!-- ======= Sidebar ======= -->
    <div class="aside-block">

      <ul class="nav nav-pills custom-tab-nav mb-4" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="pills-popular-tab" data-bs-toggle="pill" data-bs-target="#pills-popular" type="button" role="tab" aria-controls="pills-popular" aria-selected="true">Popular</button>
        </li>
      </ul>

      <div class="tab-content" id="pills-tabContent">

        <!-- Popular -->
        <div class="tab-pane fade show active" id="pills-popular" role="tabpanel" aria-labelledby="pills-popular-tab">
          {% if popular %}
            {% for pop in popular %}
              <div class="post-entry-1 border-bottom">
                <div class="post-meta"><span class="date">{{ pop.category }}</span> <span class="mx-1">&bullet;</span> <span>{{ pop.popDate }}</span></div>
                <h2 class="mb-2"><a href="/single/{{ pop.id }}">{{ pop.title }}</a></h2>
              </div>
            {% endfor %}
          {% else %}
            <div class="post-entry-1 border-bottom">
              <p>no popular post available now</p>
            </div>
          {% endif %}

        </div> <!-- End Popular -->
      </div>
    </div>

    <div class="aside-block">
      <h3 class="aside-title">Video</h3>
      <div class="video-post">
        <a href="https://www.youtube.com/watch?v=AiFfDjmd0jU" class="glightbox link-video">
          <span class="bi-play-fill"></span>
          <img src="{{ url_for('static', filename= 'img/post-landscape-5.jpg' ) }}" alt="" class="img-fluid">
        </a>
      </div>
    </div><!-- End Video -->

    <div class="aside-block">
      <h3 class="aside-title">Categories</h3>
      <ul class="aside-links list-unstyled">
        <li><a href="/category?type="><i class="bi bi-chevron-right"></i> Business</a></li>
        <li><a href="/category?type="><i class="bi bi-chevron-right"></i> Sports</a></li>
        <li><a href="/category?type="><i class="bi bi-chevron-right"></i> Politics</a></li>
        <li><a href="/category?type="><i class="bi bi-chevron-right"></i> Fashion</a></li>
      </ul>
    </div><!-- End Categories -->

  </div>